body {
  font-family: "Montserrat";
  text-align: center;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.features-h3, .cta-h3 {
  font-size: 1.5rem;
}

.pricing-h4 {
  font-size: 2rem;
  font-weight: bold;
}

#pricing p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.testimonial-text {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Title image */
.title-img {
  width: 20%;
  transform: rotate(25deg);
  right: 27.5%;
  position: absolute;
}

/* Navigation Bar */
.navbar {
  margin-bottom: 5%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 3rem;
}

.navbar-nav {
  padding-right: 20%;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.3rem;
  margin-right: 15%;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  position: relative;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  position: relative;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-button {
  margin-top: 2.5rem;
}

/* cta section */
#cta {
    font-family: "Montserrat-Black";
    line-height: 1.5;
    text-align: center;
    padding-bottom: 5%;
}

.cta-h3 {
    font-size: 3.5rem;
}

/* Footer Section */
#footer {
    text-align: center;
}

.footer-icon {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 4%;
}

.footer-item {
    margin: 0 2%;
}

@media (max-width: 991px) {
  #title {
      text-align: center;
  }
  .title-img {
      position: static;
      transform: rotate(0);

  }
  .navbar-nav {
    text-align: left;
  }
}